<div class="container-fluid px-4">
    <h1 class="mt-4" style="margin-left: 12px;">Pacientes</h1>
    <ol class="breadcrumb mb-4" style="margin-left: 12px;">
        <li class="breadcrumb-item active">Gestão de Pacientes</li>
    </ol>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <img src="assets/images/icons/addPeople.png" style="max-width: 17px;" alt="">
                            Cadastrar
                        </div>
                        <div class="container-fluid px-4">
                            <br>
                            <p>Novo paciente </p>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="Nome" name="Nome" [(ngModel)]="nomeInput" />
                                <label for="inputPassword">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="CPF" name="Cpf" [(ngModel)]="cpfInput" (input)="onChangeCPF()" maxlength="14" />
                                <label for="inputCpf">CPF</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="Telefone" name="Telefone" [(ngModel)]="telefoneInput" (input)="onChangeTelefone()" maxlength="15" />
                                <label for="inputTelefone">Telefone</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="ID do Médico" name="MedicoId" [(ngModel)]="medicoIdInput" />
                                <label for="inputMedicoId">ID do Médico</label>
                            </div>
                            <p>
                                <a class="btn btn-primary btn-sm" style="margin-right: 1vh;" (click)="registerPaciente()">
                                    Cadastrar
                                </a>
                                <span style="color: red;">{{ messageCreate }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <img src="assets/images/icons/Edit.png" style="max-width: 17px;" alt="">
                            Editar
                        </div>
                        <div class="container-fluid px-4">
                            <br>
                            <p>Editar pelo Id: </p>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="Nome" [(ngModel)]="nomeEdit"/>
                                <label for="inputPassword">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="CPF" [(ngModel)]="cpfEdit" (input)="onChangeCPF()" maxlength="14"/>
                                <label for="inputCrm">CPF</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="Telefone" [(ngModel)]="telefoneEdit" (input)="onChangeTelefone()" maxlength="15"/>
                                <label for="inputUfCrm">Telefone</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input class="form-control custom-input" placeholder="Especialidade" [(ngModel)]="medicoIdEdit" id="editMedicoDoPaciente"/>
                                <label for="inputEspecialidade">MedicoId</label>
                            </div>
                            <p><a class="btn btn-primary btn-sm" style="margin-right: 1vh;" (click)="updatePaciente()">
                                    Editar
                                </a><span style="color: red;">{{ messageEdit }}</span></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-4" style="margin-left: 12px; margin-right: 12px;">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Tabela de pacientes
                <div class="container" style="padding-top: 10px;">
                    <div class="row">
                        <div class="col-4" style="padding-left: 0px;">
                            <a class="btn btn-primary btn-sm" style="margin-right: 1vh;" (click)="fetchPacientes()">Listar
                                pacientes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome</th>
                            <th scope="col">CPF</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Nome do médico</th>
                            <th scope="col" colspan="2"> Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let paciente of pacientes">
                            <th scope="row">{{ paciente.id }}</th>
                            <td>{{ paciente.nome }}</td>
                            <td>{{ paciente.cpf }}</td>
                            <td>{{ paciente.telefone }}</td>
                            <td>{{ paciente.medico }}</td>
                            <td>
                                <a (click)="deletePaciente(paciente.id)" style="cursor: pointer;">
                                    <img src="assets/images/icons/trash.png" style="max-width: 38px;" alt="Deletar">
                                </a>
                            </td>
                            <td>
                                <a (click)="selectToEditPaciente(paciente.id, paciente.nome, paciente.cpf, paciente.telefone)" style="cursor: pointer;">
                                    <img src="assets/images/icons/pencil.png" style="max-width: 38px;" alt="Editar">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>