<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Login</h3>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email"
                                            (blur)="updateErrorMessage()" required placeholder="nome@exemplo.com"
                                            [(ngModel)]="email" [formControl]="campoEmail" name="email" />
                                        <label for="inputEmail">Endereço de Email</label>
                                        <mat-error *ngIf="campoEmail.invalid">{{ errorMessage }}</mat-error>
                                    </div>
                                    <div>
                                        <div class="form-floating mb-3">
                                            <input (blur)="updateErrorMessagepass()" class="form-control custom-input"
                                                id="inputPassword" type="password " matInput
                                                [type]="hide ? 'password' : 'text'" placeholder="Senha"
                                                [(ngModel)]="senha" name="senha" />
                                            <label for="inputPassword">Senha</label>
                                            <mat-error>{{ errorMessagepass }}</mat-error>
                                        </div>
                                        <button style="background: none; border: none;"
                                            mat-icon-button matSuffix (click)="hide = !hide"
                                            [attr.aria-label]="hide ? 'Show password' : 'Hide password'"
                                            [attr.aria-pressed]="hide">
                                            <img style="max-width: 20px;"
                                                src="{{ hide ? 'https://cdn-icons-png.flaticon.com/128/7794/7794218.png' : 'https://cdn-icons-png.flaticon.com/128/64/64943.png' }}"
                                                alt="Ícone de visibilidade">
                                        </button>
                                    </div>
                                    <div *ngIf="loading" style="display: flex; justify-content: center;">
                                        <img style="max-width: 28px;" src="assets/images/icons/girador.gif" alt="">
                                    </div>
                                    <div style="display: flex; justify-content: center;">
                                        <p>{{ loginError }}</p>
                                    </div>
                                    <div style="display: flex; justify-content: center;">
                                        <a class="btn btn-primary" (click)="confirmarLogin()">Login</a>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>